.bg-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-image: linear-gradient(to top, #ff6e7f, #bfe9ff);
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.count {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
}

.evenodd {
  color: #334155;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
}

.button {
  background-color: #ffffff;
  color: #3d4044;
  height: 50px;
  width: 100px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border-color: white;
}

.para {
  color: #484a4e;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}
